.footer {
  background-color: #084935;
  color: #fff;
  min-height: 639px;
  width: 100%;
  padding: clamp(41px,10vw,120px) 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-left:clamp(25px, 6vw, 72px);
    gap:clamp(44px, 8.75vw, 105px);
  }

  &__contact {
    width: 69px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.6px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    width: clamp(336px, 80.5vw, 810px);
    max-width: 95%;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    @include fluid-text(24,30);
    line-height: 128%;
  }

  &__text-link {
    text-decoration: none;
    font-weight: 700;
    @include fluid-text(24,30);
    line-height: 128%;
    color: rgba(255, 255, 255, 0.72);
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.72);
  }

  &__item {
    height: 24px;
  }

  &__list-address {
    display: flex;
    flex-direction: column;
    margin-right: 96px;
  }

  &__copyright {
    height: 64px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
  }

  &__copyright-content {
    width: 169px;
    margin: 20px auto 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}