.promo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: clamp(498px,47.6vh,572px);
  justify-content: center;
  padding-left:clamp(27.88px,6vw,72px);
  gap: 11px;

  &__label {
    font-size: 11px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  &__title {
    width: clamp(342.4px, 70.6vw, 848px);
    max-width: 90%;
    word-wrap: break-word;
    @include fluid-text(32,80);
    line-height: clamp(44px, 7.3vw, 88px);
    font-weight: 700;
  }
}