@mixin fluid-text($min, $max) {
  font-size: clamp(#{$min}px, #{$max / 1200 * 100}vw, #{$max}px);
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;

  &__nav {
    &-list {
      list-style-type: none;
      display: flex;
      gap: 40px;
      height: 21px;
    }
    &-item {

    }
    &-link {
      text-decoration: none;
      color: inherit;
      font-size: 14px;
      line-height: 21px;
      font-weight: 700;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: rgba(112, 52, 18, 0.5);
  }
}

.promo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: clamp(498px,47.6vh,572px);
  justify-content: center;
  padding-left:clamp(27.88px,6vw,72px);
  gap: 11px;

  &__label {
    font-size: 11px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  &__title {
    width: clamp(342.4px, 70.6vw, 848px);
    @include fluid-text(32,80);
    line-height: clamp(44px, 7.3vw, 88px);
    font-weight: 700;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: clamp(78px, 18.6vw, 224px);
  width: 100%;
  min-height: 1941px;
  padding: 0 clamp(0px, 6vw, 72px);

  &__title {
    width: clamp(295px,47.6vw,571px);
    height: 125px;
    font-weight: 700;
    @include fluid-text(18,32);
    line-height: 130%;
  }

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(312px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 66px;
    justify-items: center;
  }

  &__item {
    width: 312px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }

  &__image {
    width: 100%;
    height: 310px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);;
    border-radius: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    height: 90px;
    padding-top: 12px;
    width: 89%;
  }

  &__brand {
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  &__founders {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(112, 52, 18, 0.72);
  }
}

.footer {
  background-color: #084935;
  color: #fff;
  min-height: 639px;
  width: 100%;
  padding: clamp(41px,10vw,120px) 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-left:clamp(25px, 6vw, 72px);
    gap:clamp(44px, 8.75vw, 105px);
  }

  &__contact {
    width: 69px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1.6px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__text {
    width:clamp(336px, 67.5vw, 810px);
    height: 39px;
    font-style: normal;
    font-weight: 700;
    @include fluid-text(24,30);
    line-height: 128%;
  }

  &__text-link {
    text-decoration: none;
    font-weight: 700;
    @include fluid-text(24,30);
    line-height: 128%;
    color: rgba(255, 255, 255, 0.72);
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.72);
  }

  &__item {
    height: 24px;
  }

  &__list-address {
    display: flex;
    flex-direction: column;
    margin-right: 96px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 64px;
  }

  &__copyright-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 72px;
  }

  &-line {
    width: 100%;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.16);
  }
}

@media screen and (min-width: 1150px) {
  .promo {
    height: 572px;
    padding-left: 72px;

    &__title{
      font-size: 80px;
      line-height: 88px;
    }

  }

  .gallery{
    gap: 224px;
    padding: 0 72px;

    &__title{
      width: 571px;
      font-size: 32px;
    }


  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .footer{
    padding: 120px 0 0 0;

    &__wrapper{
      margin-left: 72px;
      gap: 105px;
    }

    &__text{
      width: 810px;
      font-size: 30px;
    }
    &__lists{
      gap: 16px;
    }
  }
}

@media screen and (max-width: 1100px){
  .gallery__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery__list {
    grid-template-columns:1fr;
    gap: 40px;
  }
  .footer{

    &__text-wrapper{
      gap: 20px;
    }
    &__lists{
      flex-direction: column;
      justify-content: space-between;
      gap: 76px;
    }
  }
}

@media screen and (max-width: 430px) {

  .header{
    &__line{
      height: 0.98px;
    }
  }

  .promo{
  height:498px;
  padding-left: 27.88px;
  gap: 67px;
  justify-content: start;
  &__label {
    margin-top: 11px;
  }

  &__title {
    width: 342.4px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
  }
  }

  .gallery {
    gap: 78px;
    padding: 0;
    height: 4538px;
    &__title {
      width: 295px;
      margin: 26px 0 0 27px;
      font-size: 18px;
      line-height: 24px;
    }

    &__list {
      align-self: center;
      grid-template-columns: 312px;
      gap: 70px;
    }

  }

  .footer {
    height: 1033px;
    padding: 41px 0 0 0;

    &__wrapper {
      margin-left:25px;
      gap: 44px;
    }

    &__contact {
      font-size: 14px;
      margin-bottom: 24px;
      text-transform: uppercase;
    }

    &__text-wrapper {
      gap: 0;
    }

    &__text {
      width: 336px;
      height: auto;
      font-size: 24px;
    }

    &__text-link {
      font-size: 24px;
    }

    &__lists {
      flex-direction: column;
      justify-content: space-between;
      gap: 76px;
    }

    &__list {
      gap: 11px;
    }

    &__link {
      font-size: 20px;
      line-height: 24px;
    }

    &__copyright {
      display: flex;
      flex-direction: column;
      height: 64px;
    }

    &__copyright-content {
      align-self: center;
      margin-left: 0;
    }
  }
}